h1, h2, h3, h4, h5, p, li, ul {
  padding: 0px;
  margin: 0px;
}

#banner {
  position: relative;
  height: 124px;
  background: #8abd87;
  width: 100%;
}

#person {
  position: absolute;
  bottom: -60px;
  left: 20px;
  right: 20px;
  height: 150px;
}


#photo, #person_info {
  height: 100%;
  display: inline-block;
  position: absolute;
}

#photo {
  background: #ffffff;
  width: 115px;
  left: 30px;
}

#person_info {
  width: 500px;
  right: 30px;
}

#person_info > div:first-child {
  background: #b4d2c1;
  height: 90px;
}

#person_info > div:last-child {
  height: 60px;
  background: #e6e6e6;
}

#person_info h1 {
  margin-left: 20px;
  line-height: 1.5;
}

#person_info h3 {
  color: #fff;
  line-height: 2;
  margin-left: 20px;
  font-weight: 100px;
}

p.concat {
  display: inline-block;
  margin-left: 20px;
  line-height: 1.8;
  width: 220px;
}

p.concat > i {
  color: #c71e1e;
  margin-right: 10px;
}
