.clearfloat {
  clear: both;
}


#content {
  width: 87%;
  height: 780px;
  margin: 100px auto;
}


.info-block {
  width: 100%;
  border-top: 2px solid #8abd87;
}

.left-block {
  height: 100%;
  width: 25%;
  display: inline-block;
}

.left-block > h2 {
  margin-top: 6px;
  color: #8abd87;
}

.right-block {
  float: right;
  height: 100%;
  width: 73%;
  display: inline-block;
}

.right-block > p {
  font-size: 13px;
  margin: 4px -4px;
  line-height: 1.6;
  letter-spacing: 1px;
}

.right-block b {
  font-size: 14px;
}

.right-block > h4 {
  margin: 9px -4px;
  color: #c71e1e;
}

.right-block > ul {
  display: inline-block;
  margin: 5px 0px;
  margin-left: 12px;
}

.right-block > ul > li {
  line-height: 2;
}

.right-block .fa-star {
  color: #b4d2c1;
  margin-left: 5px;
}


.right-block .fa-in {
  color: #c71e1e;
}

div.skill-style {
  width: 220px;
  margin: 0px 31px 7px -4px;
  display: inline-block;
}

div.skill-style > p {
  display: inline-block;
}

div.skill-icon {
  float: right;
  display: inline-block;
}

div.skill-list {
  margin: 7px 0px;
}
